* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

#minhafoto {
    border: 4px solid red;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container h1 {
    text-align: center;
    color: red;
}

.container h2 {
    text-align: center;
    color: indianred;
    font-size: 30px;
}

.container p {
    text-align: center;
    color: black;
    font-size: 20px;
}

strong {
    color: red;
}

.container a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.container a:hover {
    transition: 0.3s;
    color: red;
}

ul img {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 100%;
}

ul li {
    list-style-type: none;
    font-size: 20px;
}

footer p {
    padding-top: 70px;
    text-align: center;
    color: black;
    font-size: 20px;
}

hr {
    border: 1px solid black;
    width: 100%;
}

#engbutton {
    color: red;
}

#modoingles a {
    text-decoration: underline;
}
